<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="branding">
    <%= link_to root_path, class: "navbar-brand" do %>
        <h4>FORBES ALLEN HORTICULTURE</h4><p>Garden Maintenance & Design</p>
    <% end %>

  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="header">
        <%= link_to "about us", about_path, class: "nav-link" %>
      </li>
      <li class="header">
        <%= link_to "projects", projects_path, class: "nav-link" %>
      </li>
      <li class="header">
        <%= link_to "our approach", our_approach_path, class: "nav-link" %>
      </li>
      <li class="header">
        <%= link_to "contact", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
