<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="branding">
    <%= link_to root_path, class: "navbar-brand" do %>
        <h4 class="company-wording">FORBES ALLEN GARDENS</h4><p class="tagline">Maintenance & Design</p>
    <% end %>

  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag('hamburger.png') %>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="header">
        <%= link_to "About us", about_path, class: "nav-link nav-link-padding" %>
      </li>
      <li class="header">
        <%= link_to "Projects", projects_path, class: "nav-link nav-link-padding" %>
      </li>
      <li class="header">
        <%= link_to "Our approach", our_approach_path, class: "nav-link nav-link-padding" %>
      </li>
      <li class="header">
        <%= link_to "Contact", contact_path, class: "nav-link nav-link-no-padding" %>
      </li>
    </ul>
  </div>
</div>
