<div class="home-page">
  <div class="landscape-single">
    <%= link_to project_path(Project.find_by(name: 'Terraced Garden')) do  %>
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649682335/Forbes%20Allen%20Horticulture/Homepage/FINAL/Jimmy_Homepage_ebjzjf.jpg" class="landscape" />
    <% end %>
  </div>
  <%= link_to project_path(Project.find_by(name: 'London Country Garden')) do  %>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649682337/Forbes%20Allen%20Horticulture/Homepage/FINAL/Grange_Landscape_persicaria_lawn_mulberry__snyzz6.jpg" class="landscape" />
  <% end %>
  <%= link_to project_path(Project.find_by(name: "Designer's Garden")) do  %>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649682339/Forbes%20Allen%20Horticulture/Homepage/FINAL/Beauval_Homepage_phshped_adp7ep.jpg" class="landscape" />
  <% end %>
  <%= link_to project_path(Project.find_by(name: 'Sinclair Till')) do  %>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649682365/Forbes%20Allen%20Horticulture/Homepage/FINAL/Full_Facade_Edited_FINAL_tfjxfp.jpg" class="landscape" />
  <% end %>
  <%= link_to project_path(Project.find_by(name: 'Stoke Newington Front Garden')) do  %>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808807/Forbes%20Allen%20Horticulture/Stoke%20Newington/Jenny_Main_d1wysf.jpg" class="landscape" />
  <% end %>
  <%= link_to project_path(Project.find_by(name: 'Beckenham Woodland')) do  %>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808692/Forbes%20Allen%20Horticulture/Beckenham%20Woodland/Monica_Homepage_ufsggs.jpg" class="landscape" />
  <% end %>
</div>