<div class="show-page">
  <%= image_tag @project.image, class: "landscape" %>
  <div class="portrait-pair">
    <%= image_tag @project.image_10, class: "portrait" %>
    <%= image_tag @project.image_7, class: "portrait" %>
  </div>
  <div class="portrait-pair">
    <%= image_tag @project.image_4, class: "portrait" %>
    <%= image_tag @project.image_6, class: "portrait" %>
  </div>
  <%= image_tag @project.image_2, class: "landscape" %>
  <div class="portrait-pair">
    <%= image_tag @project.image_5, class: "portrait" %>
    <%= image_tag @project.image_8, class: "portrait" %>
  </div>
  <div class="portrait-pair">
    <%= image_tag @project.image_9, class: "portrait" %>
    <%= image_tag @project.image_3, class: "portrait" %>
  </div>
</div>
