<div class="banner">
  <h1><%= @project.name %></h1>
  <h3><%= @project.project_type.downcase %></h3>
</div>
<%= render 'designers_garden' if @project.name == "Designer's Garden" %>
<%= render 'terraced_garden' if @project.name == "Terraced Garden" %>
<%= render 'the_lodge' if @project.name == "The Lodge" %>
<%= render 'sinclair_till' if @project.name == "Sinclair Till" %>
<%= render 'east_dulwich_front_garden' if @project.name == "East Dulwich Front Garden" %>
<%= render 'beckenham_woodland' if @project.name == "Beckenham Woodland" %>
<%= render 'stoke_newington_front_garden' if @project.name == "Stoke Newington Front Garden" %>


