<div class="banner">
  <h1><%= @project.name %></h1>
  <h3><%= @project.project_type %></h3>
</div>
<%= render 'beauval_road' if @project.name == "Beauval Road" %>
<%= render 'melford_road' if @project.name == "Melford Road" %>
<%= render 'country_garden' if @project.name == "Country Garden" %>
<%= render 'the_grange' if @project.name == "The Grange, Dulwich" %>
<%= render 'st_mary_boltons' if @project.name == "St Mary Boltons, Chelsea" %>

