<div class="banner">
  <h1><%= @project.name %></h1>
  <h3><%= @project.project_type %></h3>
</div>
<%= render 'dulwich_garden' if @project.name == "Dulwich Garden" %>
<%= render 'terraced_mediterranean_garden' if @project.name == "Terraced Mediterranean Garden" %>
<%= render 'london_country_garden' if @project.name == "London Country Garden" %>
<%= render 'sinclair_till' if @project.name == "Sinclair Till" %>
<%= render 'churchyard_garden' if @project.name == "Churchyard Garden" %>

