<div class="container">
  <div class="description">
    <p>Ipsum Lorem ipsum dolor sit amet consectetur adipisicing, elit. Obcaecati architecto, nisi officia. Molestiae, commodi similique cupiditate? Asperiores aspernatur, eaque dolorem quae vero distinctio nulla recusandae, magnam est sed quaerat minima.</p>
    <p>Ipsum Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ratione incidunt similique, reprehenderit ullam veniam architecto. Illo, vel. Assumenda, recusandae saepe quaerat quas repellendus, distinctio, rem sequi debitis pariatur quibusdam enim!</p>
    <p>Ipsum Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ratione incidunt similique, reprehenderit ullam veniam architecto. Illo, vel. Assumenda, recusandae saepe quaerat quas repellendus, distinctio, rem sequi debitis pariatur quibusdam enim!</p>
  </div>
  <%= image_tag @design_project.image, class: "landscape" %>
 <div class="portrait-pair">
    <%= image_tag @design_project.image_10, class: "portrait" %>
    <%= image_tag @design_project.image_7, class: "portrait" %>
  </div>
  <div class="portrait-pair">
    <%= image_tag @design_project.image_4, class: "portrait" %>
    <%= image_tag @design_project.image_6, class: "portrait" %>
  </div>
  <%= image_tag @design_project.image_2, class: "landscape" %>
  <div class="portrait-pair">
    <%= image_tag @design_project.image_5, class: "portrait" %>
    <%= image_tag @design_project.image_8, class: "portrait" %>
  </div>
  <div class="portrait-pair">
    <%= image_tag @design_project.image_9, class: "portrait" %>
    <%= image_tag @design_project.image_3, class: "portrait" %>
  </div>
</div>
