<div class="container">
  <div class="top-description">
    <p>You could have a block of text at the top of the page here to describe the project and include any details that you wanted...</p>
    <p>Ipsum Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ratione incidunt similique, reprehenderit ullam veniam architecto. Illo, vel. Assumenda, recusandae saepe quaerat quas repellendus, distinctio, rem sequi debitis pariatur quibusdam enim!</p>
    <p>Or I can set it up so that when the user hovers over an image, a caption appears with a bit of info. Not sure if you would want/need it for every image, but if you hover on the one below you will see what I mean...</p>
  </div>
</div>
<div class="landscape-single">
  <%= image_tag @design_project.image, class: "landscape" %>
  <div class="image-text">
    <p>Ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur placeat exercitationem, sint consequatur ipsam maiores cum tempore natus illo repellendus magnam praesentium nulla, similique, blanditiis quaerat. Maxime numquam molestiae dolorem.</p>
  </div>
</div>
<div class="portrait-pair">
  <%= image_tag @design_project.image_10, class: "portrait" %>
  <%= image_tag @design_project.image_7, class: "portrait" %>
</div>
<div class="portrait-pair">
  <%= image_tag @design_project.image_4, class: "portrait" %>
  <%= image_tag @design_project.image_6, class: "portrait" %>
</div>
<%= image_tag @design_project.image_2, class: "landscape" %>
<div class="portrait-pair">
  <%= image_tag @design_project.image_5, class: "portrait" %>
  <%= image_tag @design_project.image_8, class: "portrait" %>
</div>
<div class="portrait-pair">
  <%= image_tag @design_project.image_9, class: "portrait" %>
  <%= image_tag @design_project.image_3, class: "portrait" %>
</div>
<div class="bottom-description">
  <div class="empty-div"></div>
  <div class="text">
    <p>Dan Pearson has his text at the bottom like this which I could also do.</p>
    <p><strong>The project</strong></p>
    <p>Ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente excepturi, nulla laudantium laborum odio, aut inventore facere hic cupiditate ut, perferendis, officiis dignissimos provident nesciunt ullam magnam ipsam culpa ipsa.</p>
    <br>
    <p><strong>The brief</strong></p>
    <p>Ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ipsum quam dolorum in, aliquid earum possimus vel sed tenetur porro maxime distinctio, ratione ducimus maiores unde provident rerum obcaecati ullam!</p>
    <br>
    <p><strong>The design</strong></p>
    <p>Ipsum Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Omnis voluptas molestiae provident architecto obcaecati dolores suscipit qui deserunt accusamus dolorum. Exercitationem, sunt, dolores! Officia laboriosam aliquid tempora, dolor, excepturi exercitationem.</p>
  </div>
</div>

